.image{
    text-align: center;
    display: block;
}
.image img{
    width: 68% ;

}
.text{
    text-align: center;
    font-size:larger;
    margin-left: 300px;
    margin-right: 300px;
    word-spacing: 2.0px;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 1.5;
    
}
.video1{
    width: 900px;
    height: 500px;

}

.video{
    height: auto;  /* Automatic height based on aspect ratio */
    width: 100%;
    padding-bottom: 30px;
    text-align: center;

}